html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #EBF5FB;
}

/* margins and spaces */
.mt25 {
    margin-top: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.ml25 {
    margin-left: 25px;
}
.mr25 {
    margin-right: 25px;
}
.mt50 {
    margin-top: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.ml50 {
    margin-left: 50px;
}
.mr50 {
    margin-right: 50px;
}
.width80 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.hr {
    width: 100%;
    height: 1px;
    background-color: #000;
    float: left;
}

/* main content */
#header {
    width: 100%;
    height: 100px;
}

.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
}

/* todos css codes */
.left-box {
    width: 15%;
    height: 40px;
    float: left;
    text-align: left;
    height: auto;
}
.right-box {
    width: 85%;
    text-overflow: initial;
    float: left;
    height: auto;
}
.input-box {
    width: 100%;
    line-height: 50px;
    outline: none;
    border: none;
    background-color: #D5DBDB;
    padding-left:  15px;
    padding-right: 15px;
}


/* result boxes */
.error-box {
    width: 100%;
    line-height: 50px;
    background-color: #ffcccc;
    border: 1px solid #ff8080;
}
.confirm-box {
    width: 100%;
    line-height: 50px;
    background-color: #c2f0c2;
    border: 1px solid #46d246;
}