html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* margins and spaces */
.mt25 {
    margin-top: 25px;
}
.mb25 {
    margin-bottom: 25px;
}
.ml25 {
    margin-left: 25px;
}
.mr25 {
    margin-right: 25px;
}
.mt50 {
    margin-top: 50px;
}
.mb50 {
    margin-bottom: 50px;
}
.ml50 {
    margin-left: 50px;
}
.mr50 {
    margin-right: 50px;
}

/* main content */
#header {
    width: 100%;
    height: 100px;
}

#container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

/* todos css codes */
.left-box {
    width: 25%;
    height: 40px;
    float: left;
    line-height: 40px;
}
.right-box {
    width: 75%;
    margin-bottom: 15px;
    text-overflow: initial;
    height: 40px;
    background-color: #eee ;
    float: left;
}
.input-box {
    width: 100%;
    line-height: 50px;
    outline: none;
    border: none;
    background-color: #fefefe;
    padding-left:  15px;
    padding-right: 15px;
}


/* result boxes */
.error-box {
    width: 100%;
    line-height: 50px;
    background-color: #ffcccc;
    border: 1px solid #ff8080;
}
.confirm-box {
    width: 100%;
    line-height: 50px;
    background-color: #c2f0c2;
    border: 1px solid #46d246;
}